*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: blue; */
}

h2{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}


.gameboard {
    display: grid;
    grid-template-rows: repeat(6, 100px);
    grid-template-columns: repeat(7, 100px);
    width: 700px;
    height: 600px;
    justify-content: center;
    background-color: green;
    margin: auto;

}

.cell {  
    background-color: white;
    border: 5px solid black;
    outline: solid black;
    border-radius: 50%;
}

.cell:hover {
background-color: red;
}

.btn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    height: 50px;
    width: 20px;
}



/* .scoreboard {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 5px solid black;
    margin: 0px, 0px, 0px, 50px;
    width: 25vw;
    height: 45vh;
} */






/* flashing lights  */
/* visible: hidden; w/ setInterval('lights, 10') */