*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-image: url("/img/battleVsBackground.jpg");
    background-repeat: repeat ;
    background-color: rgb(0, 25, 101);

}

.container {
    display: flex;
    /* align-items: center; */
    margin: 0 auto;
    width: 100%;
}

h2{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}

#winMessage{
    color: pink;
    border: 1px solid black;
}

.gameboard {
    display: grid;
    grid-template-rows: repeat(6, 100px);
    grid-template-columns: repeat(7, 100px);
    width: 700px;
    height: 600px;
    justify-content: center;
    /* background-color: rgb(3, 82, 150); */
    margin: auto;
    margin-left: 10%;
    position: relative;
    box-shadow: 14px 10px 5px black;

}

.cell {  
    background-color: white;
    border: 5px solid black;
    outline: solid black; 
    border-radius: 50%;
}

.cell:hover {
background-color: skyblue;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 50px;
    height: 100px;
    width: 10%;

}
#start{
    padding: 10px;
    border-radius: 12px;
    box-shadow: inherit;
}
#reset {
    margin-top: 25px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: inherit;
}


.redMove{
background-color: red;
}

.blackMove{
background-color: black;
}



/* flashing lights  */
/* visible: hidden; w/ setInterval('lights, 10') */